<mat-card class="card">
  <div class="mat-elevation-z4" *ngFor="let imovel of imoveis"><!--ajustar a sombra 'mat-elevation'-->
    <mat-card-title><a routerLink="/detalhes/{{imovel.id}}">{{imovel.nome}}</a></mat-card-title>
    <p>{{imovel.descricao}}</p>
    <p>{{imovel.tipo}}</p>
    <p>{{imovel.logradouro}}. {{imovel.bairro}}, {{imovel.cidade}}.</p>
    <p>Taxa diária: {{imovel.taxa_diaria}}</p>
    <span class="imagens" *ngFor="let image of imovel.imagens">
      <img [src]="image" />
    </span>

  </div>
</mat-card>
